
* {
   margin: 0;
   padding: 0;
   font-family: sans-serif;
}

body {
   width: 100%;
}

/* Cabecera */
header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   background: black;
   color: white;
   padding: 10px 40px;
}


.logo>img{
   width: 8em;

}
header nav a {
   margin-left: 20px;
   color: white;
   text-decoration: none;
   font-size: 0.9rem;
}

header nav a:hover {
   text-decoration: underline;
}

/* Section */
section {
   display: flex;
   align-items: center;
   justify-content: space-between;
   background: url("/flex/img/sign-up-spotify-premium.jpg") ;
   height: 80vh;
   color: white;
   padding: 50px;
}



section h1 {
   width: 1200px;
   font-size: 6rem;
   margin-bottom: 20px;

}

section p {
   font-size: 1.2rem;
   margin-bottom: 20px;
}

section button {
   background-color:#26b758;
   color: white;
   padding: 10px 20px;
   border: none;
   border-radius: 17px;
   font-size: 1rem;
   cursor: pointer;
   font-weight: 600;
   letter-spacing: 0.2em;
}

section button:hover {
   background-color: darkgreen;
}

section small {
   display: block;
   margin-top: 10px;
   font-size: 0.8rem;
   color: lightgray;
}

section .image-content {
   width: 40%;
   height: 300px;
   background-size: cover;
   border-radius: 10px;
}

article {
   background: white;
   padding: 50px 20px;
   text-align: center;
}

article h2 {
   font-size: 3rem;
   padding: 1.5em;
   
   margin-bottom: 1.5em;
}

article .features {
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
   gap: 20px;
}

article .feature {
   width: 200px;
   text-align: center;
}

article .feature .icon {
   width: 60px;
   height: 60px;
   background: lightgray;
   margin: 0 auto 15px;
   border-radius: 50%;
}

article .feature h3 {
   font-size: 1.1rem;
   margin-bottom: 10px;
}


footer {
   display: flex;
   justify-content: space-between;
   align-items: center;
   background: black;
   color: white;
   padding: 20px 40px;
   font-size: 0.9rem;
}

/*Css de movil*/
@media (max-width: 768px){
   /*Cabecera*/
 header{
   height: 7.0vh;
   padding: 0px;
 }
 .logo{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 12vh;

 }
 .logo>img{
   margin-left: 0.5em;
   padding: 5px;
   width: 6.5em;
   height: 2.5em;

 }
 nav>a{
   display: none;
 }
 nav::after{
   content: ""; /* Usamos un elemento vacío */
   display:flex; 
   background-image: url("/flex/img/menu.jpg"); /* Imagen de fondo */
   background-size: contain; /* Escala la imagen */
   width: 50px; /* Ancho del pseudo-elemento */
   height: 6vh;
   
 }
 nav:hover{
   cursor: pointer;
 }
 /*Cuerpo 1*/
 section{
   height: 75vh;
   width: 100%;
   padding: 0;
   margin: 0;
   display: flex;
   justify-content: center;
 }
 section>div{
   margin-left: 0px;
   width: 96%;
   height: 60%;
   padding: 0;

 }
 .texto-section>h1{
   width: 100%;
   word-wrap:break-word;
   font-size: 3.2em;
 }
 .texto-section>p{
   margin-top: 1.5em;
   font-size: 1.65em;
   font-weight: 700;
 }
 /*Boton verde de section (Ver planes)*/
 section>div>button{
   margin-top: 2.0em;
   width: 100%;
   padding: 18px 20px;
   border-radius: 26px;
 }
 section>div>small{
   margin-top: 3.9em;
   font-size: 0.9em;
 }
 /*Cuerpo 2 (article)*/
 article>h2{
   font-weight: 750;
   font-size: 2.4em;
   padding-left: 0;
   padding-right: 0;
 }
 /**/
 article .features {
   display: flex;

}

article .feature {
   display: flex;
   width: 100%;
   flex-wrap: wrap;
   flex-direction: row;
}

article .feature .icon {
   width: 60px;
   height: 60px;

   background: lightgray;
   margin: 0 ;
      margin-bottom: 0;
   border-radius: 50%;
}

article .feature h3 {

   height: 1em;
   font-size: 1.1rem;
   margin-bottom: 10px;
}
article .feature h3,article .feature p{
   width: 70%;
}

}
@media (min-width:769px) and (max-width:1200px){

}
@media (min-width:1201px){

}
