
* {
   margin: 0;
   padding: 0;
}

body {
   font-family: Arial, sans-serif;
   line-height: 1.5;
   width: 100%;
}

/* Header */
header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   background: black;
   color: white;
   padding: 10px 40px;
}


.logo>img{
   width: 8em;

}
header nav a {
   margin-left: 20px;
   color: white;
   text-decoration: none;
   font-size: 0.9rem;
}

header nav a:hover {
   text-decoration: underline;
}

/* Section */
section {
   display: flex;
   align-items: center;
   justify-content: space-between;
   background: url("/flex/img/sign-up-spotify-premium.jpg") ;
   height: 80vh;
   color: white;
   padding: 50px;
}



section h1 {
   width: 1200px;
   font-size: 6rem;
   margin-bottom: 20px;

}

section p {
   font-size: 1.2rem;
   margin-bottom: 20px;
}

section button {
   background-color: rgb(44, 201, 44);
   color: white;
   padding: 10px 20px;
   border: none;
   border-radius: 17px;
   font-size: 1rem;
   cursor: pointer;
}

section button:hover {
   background-color: darkgreen;
}

section small {
   display: block;
   margin-top: 10px;
   font-size: 0.8rem;
   color: lightgray;
}

section .image-content {
   width: 40%;
   height: 300px;
   background-size: cover;
   border-radius: 10px;
}

article {
   background: white;
   padding: 50px 20px;
   text-align: center;
}

article h2 {
   font-size: 3rem;
   padding: 1.5em;
   
   margin-bottom: 1.5em;
}

article .features {
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
   gap: 20px;
}

article .feature {
   width: 200px;
   text-align: center;
}

article .feature .icon {
   width: 60px;
   height: 60px;
   background: lightgray;
   margin: 0 auto 15px;
   border-radius: 50%;
}

article .feature h3 {
   font-size: 1.1rem;
   margin-bottom: 10px;
}


footer {
   display: flex;
   justify-content: space-between;
   align-items: center;
   background: black;
   color: white;
   padding: 20px 40px;
   font-size: 0.9rem;
}

/*Css de movil*/
@media (max-width: 768px){
   /*Cabecera*/
 header{
   height: 6.5vh;
   padding: 0px;
 }
 .logo{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 10vh;

 }
 .logo>img{
   margin-left: 0.5em;
   padding: 5px;
   width: 6em;
   height: 2.0em;

 }
 nav>a{
   display: none;
 }
 nav::after{
   content: ""; /* Usamos un elemento vacío */
   display:flex; 
   background-image: url("/flex/img/menu.jpg"); /* Imagen de fondo */
   background-size: contain; /* Escala la imagen */

   width: 50px; /* Ancho del pseudo-elemento */
   height: 6vh;
   
 }
 nav:hover{
   cursor: pointer;
 }
 /*Cuerpo 1*/
 section{
   height: 80.8vh;
   width: 20em;
   padding: 0;
   display: flex;
   justify-content: center;
 }
 section>div{
   border: solid white;
   word-wrap:break-word;
   margin-left: 0px;
   width: 90%;
   padding: 0;
 }
 .texto-section>h1{
   
   font-size: 3em;
 }

}
@media (min-width:769px) and (max-width:1200px){

}
@media (min-width:1201px){

}
